 * {
    margin: 0;
 }
 #menu-acess {
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: white;
    display: flex;
    padding: 0;

 }
 #menu {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 0;
     background-image: url(/assets/imagens/fundodegradegreen.jpg);
     height: 100vh;
     width: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }
 #retangulo-top {
    display: flex;
    width: 400px;
    height: 45px;
    left: 760px;
    top: 224px;
    background: #178836;
    border-radius: 0px 0px 10px 10px;
 }
#title {
 
  
}
header {
   position: absolute;
   text-align: center;
   top: 100px;
    

}
#login {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: whitesmoke;
   width: 290px;
   height: 250px;
   top: 398px;
   left: 820px;
   z-index: 3;
}
#e-mail {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 190px;
   margin: 0;
 
}
#password {
   display: flex;
   width: 190px;
   
  
}
