 @font-face {
   font-family: 'Lato-Light';
   src: url(/assets/fonts/Lato-Light.ttf) format(truetype);
}
 * {
    margin: 0;
 }
 #menu-acess {
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: white;
    display: flex;
    padding: 0;

 }
 #menu {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 0;
     background-image: url(/assets/imagens/fundodegradegreen.jpg);
     height: 100vh;
     width: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }
 #retangulo-top {
    display: flex;
    width: 400px;
    height: 45px;
    left: 760px;
    top: 224px;
    background: #178836;
    border-radius: 0px 0px 10px 10px;
 }
#title {
 
  
}
header {
   position: absolute;
   text-align: center;
   top: 100px;
    

}
#login {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: whitesmoke;
   width: 290px;
   height: 250px;
   top: 398px;
   left: 820px;
   z-index: 3;
}
#e-mail {
   width: 170px;
   height: 12px;
   

} 

#password {
   width: 170px;
   height: 12px;
}
#email-name {
   display: flex;
   height: 22px;
   margin: 5px;
   
}
#senha-name {
   display: flex;
   height: 20px;
   margin: 5px;
}
button {
   display: flex;
   margin: 12px;
   border: 1px solid black;
   
}

#esqueceu-senha:hover {
   background-color: green;
   border-radius: 9px;
   border: 2px solid #178836;
}
p > a{
   text-decoration: none;
   margin: 10px;
   color: white;
   border: 2px solid #178836;
   background-color: #178836;
   border-radius: 9px;
   
}